<nav class="navbar  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">First Help Financial</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Collector Activity Report</h4>
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item">Collector's Dashboard</li>
                  <li class="breadcrumb-item active"><a href="#">Collector Activity Report</a></li>
                  </ol>
                </div>
              <div class="panel-body">  
                <app-table-main></app-table-main>
              </div>
          </div> 
        </div>
  </div>
</div>
  

