<app-table-nav></app-table-nav>
<table data-toggle ="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-url="https://jsonplaceholder.typicode.com/posts"
       data-search="true"
       data-toolbar="#toolbar"
       data-search-align = "left"
       data-toolbar-align = "right" 
       data-height="500"
       data-pagination="true"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-show-export="true"
       data-show-refresh="true"
 >

    <thead>
    <tr>
        <th data-field="userId" data-sortable = "true" data-halign="center" data-align="left">User ID</th>
        <th data-field="id" data-sortable = "true" >ID</th>
        <th data-field="title" data-halign="center">Title</th>
        <th data-field="body" data-halign="center">Description</th>
    </tr>
    </thead>
</table>